# ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
# Card Clash — Environment Variables (EXAMPLE)


EXPO_PUBLIC_MP_SERVER_URL=ws://YOUR_LOCAL_IP:3001/multiplayer
postgresql://neondb_owner:npg_47OGgcSVQsyo@ep-royal-wind-agd5a8l8.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require

